* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 85vh;
}
.container {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.container > h1 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}
.gobtn {
  margin-top: 15px;
  background-color: #fff;
  color: #333;
}

.gobtn:hover {
  background-color: #fff;
}

input {
  padding: 10px;
  width: 100%;
  max-width: 15rem;
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  font-size: 16px;
  margin-bottom: 1rem;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  background-color: #333;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3e3e3e;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  width: 100%;
  max-width: 450px;
}

.todo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.todoText {
  flex: 1;
  word-break: break-word;
  font-weight: 600;
}

.TodoInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 600px) {
  .container > h1 {
    font-size: 1.5rem;
  }

  input {
    font-size: 14px;
  }
  .top {
    width: 20rem;
    font-size: small;
  }
  button {
    font-size: 14px;
    padding: 8px 20px;
  }

  .todoText {
    font-weight: 600;
  }
  .todo {
    padding: 8px 15px;
    gap: 20px;
    font-size: 14px;
  }
}

/*  login css */
.login-form {
  /* background: #000; */
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0rem 5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-button {
  margin-top: 15px;
  background-color: #fff;
  color: #333;
}

.login-input {
  width: 40rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.login-input:focus {
  border-color: #333;
  outline: none;
}
.login-button:hover {
  margin-top: 15px;
  background-color: #fff;
  color: #333;
}
@media screen and (min-width: 1024px) {
  .login-form {
    padding: 5rem 7rem 0 7rem;
    margin-top: 0rem;
    /* width: 2rem; */
    margin-left: auto;
    margin-right: auto;
  }

  .login-button {
    font-size: 18px;
    padding: 12px 30px;
  }

  .login-input {
    max-width: 25rem;
    font-size: 18px;
    padding: 14px;
  }
}

/* logout btn */
.logout-button {
  margin-top: 15px;
  background-color: #fff; /* Red color for logout */
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background: #fff;
  color: #333;
}
